body {
  font-family: "Montserrat-Light";
  font-size: 10px;
  line-height: 24px;
  background-color: white;
  color: #8c8c8c;
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  height: 100%;
  background-image: url("../pictures/background-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 20% 70% 10%;
}
.header-top {
  border: 1px solid red;
  grid-row: 1;
  padding: 40px 0 0 0;
  margin: 0 auto;
  display: flex;
  max-width: 1170px;
}
.header-top .navigation {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
.header-top .navigation a {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: none;
  margin-right: 30px;
}
.header-top .navigation a:hover {
  color: #c7b299;
}
.header-top .navigation a:active {
  color: #776249;
}
.header-top .navigation .icons {
  margin-left: 20px;
  margin-top: -5px;
  display: flex;
}
.header-top .navigation .icons .icon-basket svg {
  fill: #fff;
}
.header-top .navigation .icons .icon-basket svg:hover {
  fill: #c7b299;
}
.header-top .navigation .icons .icon-basket svg:active {
  fill: #776249;
}
.header-top .navigation .icons .icon-search svg {
  fill: #fff;
}
.header-top .navigation .icons .icon-search svg:hover {
  fill: #c7b299;
}
.header-top .navigation .icons .icon-search svg:active {
  fill: #776249;
}
.header-top .header-logo {
  width: 181px;
  height: 56px;
  display: inline-flex;
  flex-wrap: nowrap;
  margin-right: 70px;
}
.header-top .header-logo p {
  color: #ffffff;
  font-family: "Raleway";
  font-size: 34px;
  font-weight: 300;
  align-self: center;
  letter-spacing: -1.36px;
  line-height: normal;
}
.header-middle {
  border: 1px solid red;
  grid-row: 2;
}
.header-bottom {
  border: 1px solid red;
  grid-row: 3;
}
